.Headers{
    color: rgb(11, 11, 11);
    font-display: center;
    align-items: center;
    font-weight: 100;
    font-style: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

}
.card{
    padding: 5;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    scroll-margin-bottom: 30px;

}
.backbtn{
   padding: 20%;
   margin-right: 20px;
   color: rgb(14, 113, 158);
   margin-left: 10px;

}
.headertopbar{
    background-color: rgb(14, 113, 158);
    width: 100%;
}
.cardHeader{
    background: linear-gradient(to right,  rgb(14, 113, 158) 0%, #ffffff 100%);
    color: white;
    height: auto;
    font-size: small;
    text-align: center;

}

/* Employee details css modal */

.tabheader{
    color: black;
}
/* Employee details css modal */

.ModalHeader{
    background: linear-gradient(to right,  rgb(14, 113, 158) 0%, #ffffff 100%);
    color: white;
    height: auto;
    font-size: small;
    text-align: center;
    margin-bottom: 50px;
}
.form-control{
    margin-right: 30px;
    align-items: center;   
    display:block;
    width: 100px;

}
.form-select{
    margin-right: 30px;
    align-items: center;   
    display:block;

}

.submitbutton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #279add;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  
  .submitbutton:hover {background-color: #1979d3}
  
  .submitbutton:active {
    background-color: #064164;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media (max-width: 600px)  {
    .form-control {
      display:block;
      align-items: center;    
      text-align:center;
    }
    .inputform{
        display:block;
        align-items: center;    
        text-align:center;
    }

    }

    .deleteB {
        display: inline-block;
        padding: 8px 11px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #dd4b27;
        border: none;
        border-radius: 10px;
        box-shadow: 0 9px #999;
      }
      
      .deleteB:hover {background-color: #1979d3}
      
      .deleteB:active {
        background-color: #064164;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      .peerTable{
        width: auto;
      }
      .UpdateB {
        display: inline-block;
        padding: 8px 11px;
        font-size: 12px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #27a3dd;
        border: none;
        border-radius: 10px;
        box-shadow: 0 9px #999;
      }
      
      .UpdateB:hover {background-color: #1979d3}
      
      .UpdateB:active {
        background-color: #064164;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      .backicon{
        margin-left: -20px;
        margin-right: 7px;
      }
      .addicon{
        margin-right: 7px;
        margin-left: -9px;
      }
      .screen{

      }
      .cardservices{
            padding: 5;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    scroll-margin-bottom: 30px;
      }