h1.heading {
    font-size: 60px;
    text-align: center;
    font-family: Courier New;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}
p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}
.service__box {
    border-radius: 10px;
    width: 300px;
    background-color: #4ca1af;
      background-image: linear-gradient( 
90deg,#4ca1af,#c4e0e5);
    padding: 55px;
    transition: .4s ease;
}
.service__box:hover {
    transform: translateY(5px);
    background-image: linear-gradient( 
90deg,#4880EC,#019CAD);
}
.service__box:hover .icon{
    color: #fff;
}
.service__box:hover p.service__text.p__color{
    color: #fff!important;
}

.icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: WHITE;
}
p.service__text.p__color {
    margin-bottom: 0;
}
h1.service__text {
    font-size: 19px;
    font-family: Poppins,sans-serif;
    padding: 10px 0px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px){
.service__box {
    padding: 32px;
}
}
